/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom Properties */
:root {
    --primary-bg-clr: hsl(257, 40%, 49%);
    --primary-bg-img-clr: hsl(300, 69%, 71%);

    --ff-heading: 'Poppins', sans-serif;
    --fw-heading-regular: 400;
    --fw-heading-semi-bold: 600;

    --ff-body: 'Open Sans', sans-serif;
    --fw-body-regular: 400;
}

/* Styles */

html {
    font-size: 15px;
}

body{
    background-color: var(--primary-bg-clr);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
  margin: 2.5rem;
  display: grid;
  gap: 4rem;
}

header img {
    width: 8rem;
}

main {
    text-align: center;
    color: white;
    display: grid;
    gap: 1.5rem;
}

.title {
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading-semi-bold);
    font-size: 1.5rem;
}

.description {
    font-family: var(--ff-body);
    font-size: 1.05rem;
}

.registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 3rem;
    width: 15rem;
    height: 3rem;
    box-shadow: 0px 5px 20px -10px black;
}

.registerButton a {
    font-family: var(--ff-heading);
    text-decoration: none;
    width: 100%;
    height: 100%;
    line-height: 3rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer i {
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.fa-facebook-f {
    width: 2.15rem;
    padding-left: 0.7rem;
}