/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom Properties */
:root {
    --primary-bg-clr: hsl(257, 40%, 49%);
    --primary-bg-img-clr: hsl(300, 69%, 71%);

    --ff-heading: 'Poppins', sans-serif;
    --fw-heading-regular: 400;
    --fw-heading-semi-bold: 600;

    --ff-body: 'Open Sans', sans-serif;
    --fw-body-regular: 400;
}

/* Styles */

html {
    font-size: 15px;
    height: 100%;
}

body{
    background-color: var(--primary-bg-clr);
}

.logo {
  width: 8rem;
}

.container {
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.5rem;
  display: grid;
  gap: 4rem;
  place-content: center;
}

main {
    text-align: center;
    color: white;
    display: grid;
    gap: 1.5rem;
}

.title {
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading-semi-bold);
    font-size: 1.5rem;
}

.description {
    font-family: var(--ff-body);
    font-size: 1.05rem;
}

.registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 3rem;
    width: 13rem;
    box-shadow: 0px 5px 20px -10px black;
    font-size: 0.8rem;
}

.registerButton a {
    font-family: var(--ff-heading);
    text-decoration: none;
    width: 100%;
    height: 100%;
    line-height: 2.6rem;
}

.registerButton a:hover {
  background-color: var(--primary-bg-img-clr);
  border-radius: 3rem;
  color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer i {
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 50%;
}

footer i:hover {
  border-color: var(--primary-bg-img-clr);
  color: var(--primary-bg-img-clr);
}

.fa-facebook-f {
    width: 1.9rem;
    padding-left: 0.7rem;
}

@media screen and (min-width: 780px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: 
    "header header"
    "illustration main"
    "none footer";
    align-items: center;
    max-width: 1440px;
    margin: 2.5rem;
    padding: 0;
  }

  main {
    height: min-content;
    text-align: left;
  }

  header {
    grid-area: header;
  }

  .logo {
    width: 14rem;
    object-fit: contain;
  }

  .illustration {
    grid-area: illustration;
  }

  .title {
    font-size: 2.5rem;
    padding-right: 8rem;
  }

  .description {
    font-size: 1.2rem;
    padding-right: 7rem;
  }

  footer {
    grid-area: footer;
    margin-left: auto;
  }
  
  .registerButton {
    margin: 0;
    text-align: center;
  }

  .registerButton a {
    font-size: 1.2rem;
    padding: 0.6rem 0;
  }
}